#lvl-1 {
    background-color: orange;
}

#lvl-2 {
    background-color: green;
}

#lvl-3 {
    background-color: aqua;
}

#lvl-4 {
    background-color: darkred;
}

.cont {
    padding: 20px;
}

#delegation-box {
    width: 250px;
    display: flex;
    flex-flow: wrap;
}

.del-item {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    box-sizing: border-box;
    cursor: pointer;
}

.through-text {
    text-decoration: line-through;
    background-color: black;
    color: white;
}

#gallery-box {
    width: 500px;
}

#main-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#gallery-line {
    display: flex;
    justify-content: center;
}

.link-item {
    width: 50px;
}

.min-img {
    width: 100%;
    box-sizing: border-box;
}

.active-img {
    border: 2px solid orange
}

.main-img-box {
    width: 350px;
}

.main-img {
    width: 100%;
}